# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.txt
*.ide
*.lock

/.vs
/ext/*
/packages/*
/TestForm/*

#RevitGLTF
/RevitGLTF/.vs/*
/RevitGLTF/obj/*
/RevitGLTF/packages/*
/RevitGLTF/bin/*

#MaterialAssetViewer
/MaterialAssetViewer/bin/*
/MaterialAssetViewer/obj/*

#Test
##TestTile3D
/Test/TestTile3D/bin/*
/Test/TestTile3D/obj/*

##TestFeatureTable
/Test/TestFeatureTable/bin/*
/Test/TestFeatureTable/obj/*

##TestBatchTable
/Test/TestBatchTable/bin/*
/Test/TestBatchTable/obj/*

##TestRTree
/Test/TestRTree/bin/*
/Test/TestRTree/obj/*

##BumpToNormalTest
/Test/BumpToNormalTest/

##TestNVTT
/Test/TestNVTT/bin/*
/Test/TestNVTT/obj/*

/x64/